rcon_password "{{sec[grpname]['pw']['rcon']}}"
tv_password "{{sec[grpname]['pw']['tv']}}"
{% if grpname == 'csmatch' %}
	sv_password "{{sec[grpname]['pw']['sv']}}"
{% endif %}

{% for i in range(1,5) %}
 alias gslt{{i}} "sv_setsteamaccount {{sec[grpname]['gslt' + nr|string]['t'+i|string]}}"
 alias var{{i}} "gslt{{i}}; name{{i}}"
{% endfor %}