[Unit]
Description=CSGO Fun Server {{nr}}.{{item}}

[Service]
User={{ ansible_ssh_user }}
Group={{ ansible_ssh_user }}
WorkingDirectory=/home/{{ ansible_ssh_user }}/cs

ExecStart=/home/{{ ansible_ssh_user }}/cs/run.sh {{item}}
ExecStop=/usr/bin/screen -S csfun{{nr}}.{{item}} -X stuff 'quit\n'
ExecStop=/usr/bin/sleep 10
ExecStop=/usr/bin/screen -S csfun{{nr}}.{{item}} -X kill

Type=forking
RemainAfterExit=true
Restart=no
RestartSec=5s

[Install]
WantedBy=multi-user.target