#!/bin/bash
if [[ $1 =~ ^[1-4]{1}$ ]]
then
	if ! screen -list | grep -q csfun{{nr}}.$1 ; then
		HOSTNAME=$(hostname)
		IP=$(hostname -I | awk '{print substr($1,1)   }')
		PORT=$(( 27014+$1 ))
		TVPORT=$(( 27114+$1 ))
		screen -dmS csfun{{nr}}.$1
		screen -S csfun{{nr}}.$1 -X stuff "./srcds_run -game csgo -console -usercon -tickrate 128 +exec pre +var$1 -port $PORT +tv_port $TVPORT +ip $IP +map fy_poolparty_v2\n"
		echo Started $HOSTNAME\.$1 on $IP:$PORT/:$TVPORT
	else
		echo Screen csfun{{nr}}.$1 is already running.
	fi
else
	echo Use parameter between 1-4
fi