[Unit]
Description=CSGO Match Server {{nr}}.{{item}}

[Service]
User={{service_user}}
Group={{service_user}}
WorkingDirectory=/home/{{service_user}}/cs

ExecStart=/home/{{service_user}}/cs/run.sh {{item}}
ExecStop=/usr/bin/screen -S csmatch{{nr}}.{{item}} -X stuff 'quit\n'
ExecStop=/usr/bin/sleep 10
ExecStop=/usr/bin/screen -S csmatch{{nr}}.{{item}} -X kill

Type=forking
RemainAfterExit=true
Restart=no
RestartSec=5s

[Install]
WantedBy=multi-user.target