#!/bin/bash
if [[ $1 =~ ^[1-4]{1}$ ]]
then
	if ! screen -list | grep -q csmatch{{nr}}.$1 ; then
		HOSTNAME=$(hostname)
		IP=$(hostname -I | awk '{print substr($1,1)   }')
		PORT=$(( 27020+$1 ))
		TVPORT=$(( 27120+$1 ))
		screen -dmS csmatch{{nr}}.$1
		screen -S csmatch{{nr}}.$1 -X stuff "./srcds_run -game csgo -console -usercon -tickrate 128 +exec pre +var$1 -port $PORT +tv_port $TVPORT +ip $IP +map aim_redline\n"
		echo Started $HOSTNAME\.$1 on $IP:$PORT/:$TVPORT
	else
		echo Screen csmatch{{nr}}.$1 is already running.
	fi
else
	echo Use parameter between 1-4
fi